
body {
  background-color: #2b2b2b;
}

.container {
  margin-top: 100px;
}
h3{
  color: white;
}

h2{
  color: white;
}

p{
  color: white;
}

.panel.resetPassword {
  max-width: 400px;
  margin: 0 auto;
  border-color: #434242;
  background-color: #434242;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.panel-heading.resetPassword {
  text-align: center;
  padding-bottom: 20px;
}

.form-group.resetPassword {
  margin-bottom: 20px;
}

.form-control.resetPassword {
  height: 40px;
  border-radius: 5px;
}
#resetPasswordBtn{
  background-color: black;
  border-color: black;
}


.form-gap {
  height: 50px;
}

